In [1]:
import pandas as pd 
import seaborn as sns

In [2]:
df = sns.load_dataset("titanic")

In [3]:
pd.set_option('display.max_columns', None)

In [5]:
df.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [8]:
# koşullu seçimde loop kullanımı:

for i in df["age"]:
    if i > 40:
        print("büyük")
    else:
        print("değil")

değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
büyük
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
büyük
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
büyük
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
büyük
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
büyük
değil
büyük
büyük
değil
büyük
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
büyük
değil
değil
büyük
değil
değil
değil
büyük
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
büyük
büyük
değil
büyük
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
büyük
değil
değil
büyük
değil
büyük
değil
değil
değil
değil
büyük
değil
değil
büyük
değil
değil
değil
değil
değil
büyük
değil
değil
değil
büyük
değil
değil
büyük
büyük
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
büyük
büyük
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
büyük
değil
değil
değil
büyük
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
büyük
değil
değil
büyük
değil
büyük
değil
büyük
değil
büyük
büyük
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
büyük
değil
değil
değil
büyük
değil
değil
değil
değil
büyük
büyük
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
büyük
değil
değil
değil
değil
değil
değil
değil
büyük
değil
büyük
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
büyük
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
büyük
büyük
değil
değil
değil
büyük
büyük
değil
değil
değil
değil
büyük
değil
büyük
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
büyük
büyük
değil
değil
değil
büyük
büyük
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
büyük
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
büyük
değil
büyük
değil
değil
değil
değil
değil
büyük
değil
değil
değil
büyük
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
büyük
büyük
değil
büyük
büyük
değil
değil
değil
değil
değil
değil
büyük
büyük
değil
değil
değil
değil
büyük
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
büyük
değil
değil
değil
değil
değil
büyük
büyük
değil
büyük
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
büyük
değil
değil
büyük
değil
büyük
büyük
değil
değil
büyük
değil
büyük
değil
değil
büyük
değil
değil
değil
değil
değil
büyük
değil
büyük
değil
değil
değil
değil
değil
büyük
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil
değil

In [9]:
# Eğer ben burada pandası kullanarak yazmak istersem ilk önce şartı kontrol ediyor olacağım. Sonrasında da koşulu kontrol ediyor olacağım. 


df[df["age"]>50]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
33,0,2,male,66.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
54,0,1,male,65.0,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,1,1,female,52.0,1,1,93.5000,S,First,woman,False,B,Southampton,yes,False
829,1,1,female,62.0,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
851,0,3,male,74.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
857,1,1,male,51.0,0,0,26.5500,S,First,man,True,E,Southampton,yes,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False

In [10]:
# burada 50den büyük olanların sayısına ulaşmak istersem nasıl ulaşırım, sorusunun cevabı:

df[df["age"]>50]["age"].count()

64

In [13]:
# Eğer bir koşul ve iki tane sutün seçmek istersem, bunu nasıl yaparım?
# example: Yaşı 50den büyük olan yolcuları ve classlarını görmek istiyorum. 
# loc: label based selection
df.loc[df["age"]>50, ["age", "class"]].head()

     age   class
6   54.0   First
11  58.0   First
15  55.0  Second
33  66.0  Second
54  65.0   First

In [34]:
# Example: Yaşı 50 den büyük olan erkekleri seçmek istiyorum. Bunujn için bütün şartları parantez içerisinde belirtmek zorundasın... 

df.loc[(df["age"]>50) & (df["sex"] == "male") & (df["embark_town"] == "Cherbourg"), ["age", "sex", "class"]].head()

      age   sex  class
54   65.0  male  First
96   71.0  male  First
155  51.0  male  First
174  56.0  male  First
487  58.0  male  First

In [14]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True